.buy-form{
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .infoIcon {
    color: rgb(0, 132, 255);
    font-size: 12px;
  }
}
