<div class="mt-5 ms-2">
  <nz-empty *ngIf="isEmpty" [nzNotFoundContent]="emptyTemplate"></nz-empty>
  <ng-template #emptyTemplate> There are no purchases yet </ng-template>
  <nz-table
    *ngIf="!isEmpty"
    [nzData]="orders"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzScroll]="{ y: 'calc(100vh - ' + '450px' + ')' }"
  >
    <thead>
      <tr>
        <th nzWidth="30px">Date</th>
        <th nzWidth="30px">Pair</th>
        <th nzWidth="40px">Quantity</th>
        <th nzWidth="30px">Amount</th>
        <th nzWidth="30px">Price</th>
        <th nzWidth="30px">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.date | date }}</td>
        <td>{{ order.pair }}</td>
        <td>{{ order.quantity | number: '1.0-6' }}</td>
        <td>{{ order.amount }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
