.wrapper {
  background-color: rgb(255, 255, 255);
  .site-page-header {
    background-color:black;
  }
  .content {
    padding: 36px 24px;
    .order-table {
      width: 65%;
    }
  }
}

::ng-deep {
  .ant-page-header-heading-title{
    color: white;
   }
  .ant-btn-primary:enabled {
    color: white;
    background: black;
  }
  .ant-page-header-heading-sub-title {
    color: white;
  }
}
