
.wrapper {
  background-color: rgb(247, 247, 247);
  height: 100%;
  .site-page-header {
    background-color: rgb(235, 235, 235);
  }
  .content {
    padding: 16px 24px;
    margin: 20px 0px;
    .order-table {
      width: 70%;
    }
  }
}
