<nz-layout class="wrapper">
  <nz-page-header class="site-page-header" [nzTitle]="title" [nzSubtitle]="author"></nz-page-header>
  <nz-content class="content">
    <app-user-cash [(balance)]="balance"></app-user-cash>
    <div class="d-flex justify-content-center">
      <app-price [(currentPrice)]="currentPrice"></app-price>
    </div>
    <div class="d-flex justify-content-between">
      <app-buy-form [(balance)]="balance" [currentPrice]="currentPrice" (newOrder)="newOrder($event)"></app-buy-form>
      <app-order-table class="order-table" [orders]="orders" [price]="currentPrice"></app-order-table>
    </div>
  </nz-content>
</nz-layout>
