.price {
  margin-top: 40px;

  .volatility-UP {
    color: green;
  }

  .volatility-DOWN {
    color: red;
  }

  .volatility-EQUAL {
    color: black
  }

  .arrow-up{
    color: green;
    font-size: 14px;
  }

  .arrow-down{
    font-size: 14px;
    color: red;
  }
}
